 
h1 {font-family: helvetica;
	font-size: 50px; 
	margin: 0px 10px -5px 0px;}

.top-header{font-family: helvetica-light; 
			font-size: 15px; 
			float-right:200px; 
			font-weight: none;}
.container {float:right; padding-right:750px; 
			position:}

.bio {}			

p	{font-family: helvetica-light; 
	font-size: 15px;}

li  {font-family: helvetica-light; 
	font-size: 17px;}

.background {font-weight:bold;}

.training {font-weight: bold; font-size: 15px;}

.skills {font-weight: bold;}

.stories {font-weight: bold;}

.header {font-weight: bold;}

.maps {float: left; padding-right: 20px;}

 /* unvisited link */ a:link { color: black; } /* visited link */ a:visited { color: gray; }